mat-card {
  background: #f5f5f5;
}

mat-card-title {
  margin-top: 2px;
}

mat-card-footer {
  margin: 2px;
  margin-top: 10px;

  a {
    text-decoration: none;
    color: blue;
  }
}

.store {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.item-card {
  width: 300px;
  height: 500px;
  margin: 10px;
}

.divider {
  height: 50%;
  background: #f5f5f5;
}

.image-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.price {
  display: flex;
  justify-content: flex-end;
  font-size: 3em;
  color: #D43235;
}

.filters {
  margin-left: 10px;
  display: flex;
  justify-content: space-evenly
}
